# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/*
# But track run-latest.json
!broadcast/DeployedOurWorldArt/run-latest.json

# Docs
docs/

# Dotenv file
.env